*{
    box-sizing: border-box;
  }
  
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
hr {
  width: 400px;
  border: none;
  border-top: 1px solid lightgrey;
  margin: 5px;
}

h3{
    display: inline;
      border-bottom: 2px solid blue;
}

  .tarjeta-perfil{
    display: flex;
    flex-direction: column;
      width: 90%;
      margin: 20px auto;
      max-width: 400px;
      align-items: center;
      border-radius: 12px;
      padding: 20px;
      box-shadow: 0 1px 3px;
  }
  
  .tarjeta-header{
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: row;
    border-radius: 50%;
  }

  .lista-habilidades{
    display: grid;
    list-style: none;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 12px;
    padding: 0;
  }

.lista-habilidades li{
  padding: 8px;
  background-color: #e9f5ff;
  color: blue;
  text-align: center;
  border-radius: 8%;
}

.tarjeta-footer{
  display: flex;
  justify-content: center;
  witdh: 100%;
  margin-top: 20px;
}

  .tarjeta-footer a{
    text-decoration: none;
    padding: 10px 25px;
    color: white;
    background-color: blue;
    border-radius: 8%;
  }

  .tarjeta-footer a:hover{
    transition: background-color .5s;
    background-color: lightblue;
  }

  @media (max-width: 768px){
    .tarjeta-perfil{
      width: 90%;
    }
    .lista-habilidades{
        grid-template-columns: 1fr;
        }
  }